Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
SuperFighter/
Content/ASSETS/Character/Ninja/SideStrongAttack/NinjaSideStrongAttackFP.uasset
